<div class="jumbotron">
	<div class="container">
		<h1>Antithesis<i class="text-primary pull-right fa fa-bar-chart-o fa-3x"></i></h1>
		<p>OANDA Trading from your browser</p>

		<div class="row">
			<div class="col-md-5">
				<div class="btn-group btn-group-lg">
					<button class="btn" ng-class="{'btn-default': !isLive(), 'btn-danger': isLive()}" ng-click="setLive()">Live</button>
					<button class="btn" ng-class="{'btn-default': !isPractice(), 'btn-success': isPractice()}" ng-click="setPractice()">Practice</button>
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-fw fa-lg fa-key"></i></span>
					<input class="form-control input-lg" type="password" id="apiKey" ng-model="apiKey" placeholder="API Key" />
				</div>  
			</div>  
		</div>
			
		<div class="space-above text-danger" ng-show="error" ng-bind="error"></div>
		<div class="space-above text-info" ng-show="message" ng-bind="message"></div>
			
		<div class="space-above"><button class="btn" ng-class="{ 'btn-primary': !accounts }" ng-click="connect()">Fetch Accounts</i></button></div>
		
		<div class="space-above row" ng-show="accounts">
			<div class="col-md-5">
				<select class="form-control input-lg" ng-model="mySelectedAccount" ng-options="a.accountName + ' (' + a.accountCurrency + ', '+ a.accountId + ')' group by a.accountCurrency for a in accounts">
					<option value="">-- choose --</value>
				</select>
			</div>
		</div>
		<div class="space-above" ng-show="accounts">
			<button class="btn btn-primary" ng-click="selectAccount(mySelectedAccount)" ng-disabled="!mySelectedAccount">Start <i class="fa fa-angle-double-right"></i></button>
		</div>
	</div>
</div>

<div class="container">
	<div class="panel panel-info" ng-hide="accounts">
		<div class="panel-heading">
			<h3 class="panel-title">API Key</h3>
		</div>
		<div class="panel-body">
			<p>
			Antithesis requires that you have a practice or live OANDA account, and that you have
			enabled API access for it.
			</p>
			<p>
			You will need to have your Personal API key available during the connection process
			so your browser can connect to the OANDA server.
			</p>
			<p>
			Your API Key is used <strong>only in your own browser</strong>, and only sent to the
			OANDA servers over HTTPS connections.
			</p>
		</div>
	</div>
</div>
