<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.5" />
		<!-- disable all session state -->
        <sessionState mode="Off" />

		<!-- Security through obscurity, removes  X-AspNet-Version HTTP header from the response -->
		<!-- Allow zombie DOS names to be captured by ASP.NET (/con, /com1, /lpt1, /aux, /prt, /nul, etc) -->
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0" requestPathInvalidCharacters="" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" />
		
		<!-- show errors for local dev -->
		<customErrors mode="RemoteOnly" />
    </system.web>
    <system.webServer>
		<!-- disable directory browse -->
		<directoryBrowse enabled="false" />

		<!-- ensure integrated mode is configured properly -->
		<validation validateIntegratedModeConfiguration="true" />

		<!-- fix the default document to be our index.html only -->
		<defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>

		<!-- install our required modules and handlers -->
 		<modules>
			<add name="ServerHeaderControlHttpModule" type="Antithesis.Code.ServerHeaderControlHttpModule" />
		</modules>
		<handlers accessPolicy="Read">
			<clear />
			<add 
				name="StaticFile" 
				path="*" 
				verb="*" 
				modules="StaticFileModule,DefaultDocumentModule" 
				resourceType="Either" 
				requireAccess="Read" />
		</handlers>
		
		<httpProtocol>
			<redirectHeaders>
				<clear />
			</redirectHeaders>
			<customHeaders>
				<clear />
			</customHeaders>
		</httpProtocol> 

		<!-- lock down the served static content types -->
		<staticContent>
			<clear />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
			<mimeMap fileExtension=".js" mimeType="text/javascript" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
		</staticContent>
    </system.webServer>
	
	<!-- configure write access using our upload handler for the data folder -->
	<location path="data">
		<system.webServer>
			<handlers accessPolicy="Read, Write, Execute, Script">
				<add 
					name="JsonUploadHandler" 
					path="*.json" 
					verb="POST,PUT,DELETE" 
					type="Antithesis.Code.JsonUploadHandler" 
					resourceType="Unspecified" 
					requireAccess="Write"
					preCondition="integratedMode"/>
			</handlers>
		</system.webServer>
	</location>
	
</configuration>
